html {
    background: url("./44540296_403.jpg");
    font-family: 'Kanit', sans-serif;;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 18px;
    min-height: 100%;
  }

  body {
    margin: 0;
    min-width: 100%;
  }

.forecast {
    margin: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin: 10px auto 23px auto;
}

@media only screen and (max-width: 1200px) {
    input {
        margin: 10px auto 10px auto;
    }
  }


